:root {
  --arrawcolor: rgba(36, 41, 40, 1);
  --deepbraincolor: rgba(199, 221, 204, 1);
  --fillin: rgba(144, 150, 148, 1);
  --primaryblue: rgba(58, 71, 189, 1);
  --variable-collection-fill-in-square: rgba(199, 221, 204, 1);
  --wordscolor: rgba(73, 79, 77, 1);
}
