.index {
  background-color: #5a6d67;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div-3 {
  background-color: #5a6d67;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.index .overlap {
  height: 1100px;
  left: -7px;
  position: absolute;
  top: -10px;
  width: 1934px;
}

.index .a-mouse-from-th-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.index .a-mouse-from-th {
  height: 1080px;
  mix-blend-mode: soft-light;
  object-fit: cover;
  position: relative;
  width: 1914px;
}

.index .body-parts-instance {
  left: 537px !important;
  position: absolute !important;
  top: 600px !important;
}

.index .component-1 {
  left: 397px !important;
  position: absolute !important;
  top: 768px !important;
}

.index .component-instance {
  left: 397px !important;
  position: absolute !important;
  top: 411px !important;
}

.index .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 232px;
  width: 361px;
}

.index .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 333px;
  width: 361px;
}

.index .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 684px;
  width: 361px;
}

.index .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 398px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 141px;
  width: 466px;
}

.index .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 406px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 599px;
  width: 361px;
}

.index .frame-2 {
  align-items: center;
  background-color: #919f90;
  border-radius: 15px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 549px;
  padding: 10px;
  position: absolute;
  top: 931px;
}

.index .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.index .frame-3 {
  align-items: center;
  background-color: #919f90;
  border-radius: 15px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 400px;
  padding: 10px;
  position: absolute;
  top: 931px;
}

.index .options-instance {
  left: 549px !important;
  position: absolute !important;
  top: 320px !important;
}

.index .design-component-instance-node {
  left: 549px !important;
  position: absolute !important;
  top: 219px !important;
}

.index .options-2 {
  left: 786px !important;
  position: absolute !important;
  top: 128px !important;
}

.index .frame-4 {
  align-items: center;
  background-color: #919f90;
  border-radius: 15px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 705px;
  padding: 10px;
  position: absolute;
  top: 675px;
}

.index .deepbrain-logo {
  height: 212px;
  left: 26px;
  object-fit: cover;
  position: fixed;
  top: 26px;
  width: 212px;
}
